#wp-admin-bar-ubermenu_update_notifier {
	display:none;
}

.hidden {
	display: none;
}

.ghosted {
	opacity: 0.5;
}

.update-halo {
	box-shadow: 6px 6px 6px rgba(0,250,50,0.5)
}

span.placeholder {
	color: #ccc;
}

div.alt-hover {
	background-color: rgba(209,227,152,0.83);
	padding: 10px;
	color: #666;
	border: thin solid #999;
	box-shadow: 0px 3px 3px 0px rgba(30,30,30,.5);
	z-index: 1200;
	float: left;
	display: none;
}

.slideshow-signals-preload {
	position: relative;
	float: right;
	top: 50px;
	width: 362px;
	height: 100px;
	display: none;
}

#runtime-signal,
#row-signal {
	z-index: 1000 !important;
	width: 32px;
	height: 32px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	float: right;
}

#runtime-signal img.signals-sprite,
#row-signal img.signals-sprite {
	z-index: 1200 !important;
	position: relative;
}

#collection-name-signal {
	display: none;
	/*
	z-index: 1000;
	float: right;
	top: -35px;
	margin-right: 109%;
	position: relative;
	*/
}

.slideshow-signals {
	/* container for signals */
	width: 32px;
	height: 32px;
	position: relative;
	overflow: hidden;
}


table.slideshow-drag-drop-layout {
	margin-top: 10px;
	width: 95%;
/*	border: thin solid #ccf; */
}

/* subtable layout */
table.slideshow-header-controls {
	width: 95%;
}

table.slideshow-header-controls td {
	
}

td.slideshow-name,
td.slideshow-controls {
	vertical-align: middle;	
	width: 48%;
	text-align: left;
	padding: 0px 0px;
}

div.collection-name-status-msg {
	width: 100%;
	color: #999;
}

input.slideshow-collection-name {
	font-size: 1.4em;
	width: 84%;
	margin: 0;
	float: right;
	display: none;	
}

.slideshow_select {
	width:100%;
	margin-bottom: 10px;
}


td.slideshow-dropzone,		/* left - contains the sorting table */
td.slideshow-dragzone 		/* right - contains the dragging rsources */ 
{		
	/* border: thin solid #ccc;  */
	min-width: 48%;
	vertical-align: top;
}
td.slideshow-gutter {
/*	min-width:20px; */
}


table.slideshow-sortable-rows {
	border-collapse: separate;
	border-spacing: 6px;
	width: 100%;
	overflow: scroll;
}

div.sort-table-signal {
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
}


div.slideshow-controls-right {
	float: right;
}

label.slideshow-activate-collection {
	font-weight: normal;
}

tr.slideshow-collection-row {
	margin: 5px;
	border: thin solid #ccc;
}

table.slideshow-sortable-rows th {
	text-align: left; 
}

th span.slideshow-slide-link-header {
	color: #999;	
}


td.thumbbox {
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	border: thin solid #ccc;
}

td.thumbbox img {
	margin: auto auto;
	vertical-align: middle;
}

td.slideshow-slide-title {
	height: 50px;
	text-align: left;
	vertical-align: middle;
	border: thin solid #ccc;
	background-color: rgba(255,255,255,0.5);
	font-weight: bold;
}

/**
*	Inline edit function
*
**/
div.slide-title {
	margin-top: 5px;
}
div.slide-title,
div.slide-link {
	margin-left: 5px;
	width: 100%;
	min-height: 25px;
	vertical-align: middle;
	
}

div.slideshow-inline-edit-toggle {
	height: 20px;
	width: 20px;
	position: relative;
	top: 0px;
	float: right;
	margin: 0 0;
	padding: 0 0;
	z-index: 1000;
	overflow: hidden;
}

input#inline-edit {
	z-index: 500;
	position: relative;
	margin: 0 0;
}


div.slide-content {
	display: none;
	font-weight: normal;
}

td.signalbox {
	width: 36px;
	border: thin solid #ccc;
}


td span.slideshow-slide-link {
	font-weight: normal;
	color: #999;
}

.drop_highlight {
	box-shadow: inset 0px 0px 15px rgba(23,23,229,0.75);
}

.return_highlight {
	box-shadow: inset 0px 0px 15px rgba(177,234,34,0.75);
}

h3.slideshow-runtime-heading {
	margin-left: 10px;
}
div.slideshow-runtime-information {
	
	height: 4.5em;
	width: 96%;
/*	border: thin solid #eee; */
	margin: 10px auto;
	padding: 6px;
}


table.slideshow-drag-table {
	min-height: 500px;
	width: 100%;
	/* four rows - 
		one for local media, 
		one for network media 
		one for each one's heading */	
}

td.slideshow-draggable-items {
	vertical-align: top;
	min-height: 250px;
	width: 100%;
	border: thin solid #eee;
}

td.slideshow-draggable-items div {
	float: left;
	margin: 6px;
}

div.draggable {
	
}

img.slotview {
	display: none;
}


/**
*
*	Add text slide section 
*
**/
table.slideshow-text-slide-create {
/* 	margin-top: 30px; */
	width: 100%;
}
td.slideshow-label {
	font-size: 1.2em;
}

input.slideshow-text-slide-heading {
	font-size: 1.2em;
	width: 100%;
}
textarea.slideshow-text-slide-content {
	width: 100%;
	height: 100px;
}

.slideshow-text-slide-link-box {
	text-align: left;
	width: 100%;
}

#slideshow_page_selector {
	width: 100%;
}

.slideshow-text-slide-save-box {
	text-align: right;
}

.slideshow-big-t {
	font-family: Georgia, Times, serif;
	font-size: 3em;
}

/**
*
*	Slideshow Layout graphics
*
**/

table.slideshow-layout-controls {
	width: 100%;
	margin: 30px auto 30px 0px;;
	border-top: thin solid #ccc;
	border-bottom: thin solid #ccc;
}

table.slideshow-layout-controls td {
	width: 32%;
	vertical-align: top;
}

table.slideshow-control {
	width: 100%;
}
table.slideshow-control td label {
	width: 90%;
	font-weight: bold;
	white-space: nowrap;
}
td.slideshow-control-annotation {
	color: #999;
}
td.radio-box {
	width: 5%;
	text-align: right;
}


