.hero-carousel {
  &.flickity-enabled .slide {
    /* Only show first slide while loading */
    display: flex;
  }

  &.has-text-slides {
    padding-bottom: 45%;

    @media screen and (min-width: 640px) {
      padding-bottom: 30%;
    }
  }

  padding-bottom: 30%;
  position: relative;

  .flickity-viewport {
    position: absolute;
    width: 100%;
  }

  .slide {
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &:first-child {
      display: flex;
    }

    &.image {
      > .slide-inner {
        line-height: 0;

        > a {
          display: block;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &.text {
      width: 100%;
      overflow: hidden;
      padding: 0 5% 5% 5%;

      background-image: radial-gradient(
        ellipse farthest-corner at center top,
        #ffffff 0%,
        #cccccc 100%
      );
      background-color: #eee;

      > * {
        max-width: 100%;
      }

      a {
        display: block;
      }

      h2 {
        font-size: 4rem;
        margin: 0;
        text-shadow: 0px 2px 7px #999;
      }

      p {
        text-shadow: 0px 2px 7px #999;
      }
    }
  }

  .flickity-prev-next-button {
    width: 33px;
    height: 33px;

    opacity: 0.4;

    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }
}

.hero-carousel-pager {
  background-color: var(--libpress-brand-color);
  text-align: center;

  .pager-box {
    display: inline-block;
    border: 2px solid transparent;
    margin: 0;

    &.is-selected {
      border: 2px solid black;
    }

    .thumb {
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
    }
  }
}
