.ghosted {
  opacity: 0.7;
}

span.placeholder {
  color: #ccc;
}

.slideshow-signals-preload {
  position: relative;
  float: right;
  top: 50px;
  width: 362px;
  height: 100px;
  display: none;
}

#runtime-signal,
#row-signal {
  z-index: 1000 !important;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  float: right;
}

#runtime-signal img.signals-sprite,
#row-signal img.signals-sprite {
  z-index: 1200 !important;
  position: relative;
}

.slideshow-signals {
  /* container for signals */
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}

input.slideshow-collection-name {
  font-size: 1.4em;
  width: 84%;
  margin: 0;
  float: right;
  display: none;
}

.slideshow-select {
  width: 100%;
  margin-bottom: 10px;
}

table.slideshow-sortable-rows {
  border-collapse: separate;
  border-spacing: 6px;
  width: 100%;
  overflow: scroll;
}

label.slideshow-activate-collection {
  font-weight: normal;
}

.slideshow-collection-row {
  margin: 5px;
  border: thin solid #ccc;
}

table.slideshow-sortable-rows th {
  text-align: left;
}

th span.slideshow-slide-link-header {
  color: #999;
}

.draggable .caption {
  margin-top: 0;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.slide-heading {
  font-size: 18px;
  margin-bottom: 0.5em;
}

.slideshow-big-t {
  font-family: Georgia, Times, serif;
  font-size: 3em;
}

.thumbbox {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  border: thin solid #ccc;
}

.thumbbox img {
  margin: auto auto;
  vertical-align: middle;
}

.slideshow-slide-title {
  height: 50px;
  text-align: left;
  vertical-align: middle;
  border: thin solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

p.slide-preview {
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
  padding: 5px;
  display: none;
  color: #fff;
}

/**
* Inline edit function
*
**/
div.slide-title {
  margin-top: 5px;
}

div.slide-title,
div.slide-link {
  margin-left: 5px;
  width: 100%;
  min-height: 25px;
  vertical-align: middle;
}

div.slideshow-inline-edit-toggle {
  position: relative;
  top: -20px;
  float: right;
}

.inline-editor {
  padding: 5px;
}

.inline-editor .slide-title-edit {
  width: 90%;
}

.inline-editor .slide-link-edit,
.inline-editor .slide-content-edit {
  width: 100%;
}

.inline-editor div.slideshow-inline-edit-toggle {
  /* top: -40px; */
  left: 10px;
}

input#inline-edit {
  z-index: 500;
  position: relative;
  margin: 0 0;
}

div.slide-content {
  /* display: none; */
  display: block;
  padding: 10px;
  font-weight: normal;
}

.signalbox {
  width: 36px;
  border: thin solid #ccc;
}

span.slideshow-slide-link {
  font-weight: normal;
  color: #999;
}

.drop-highlight td {
  box-shadow: inset 0px 0px 15px rgba(23, 23, 229, 0.75);
}

.return-highlight {
  box-shadow: inset 0px 0px 15px rgba(177, 234, 34, 0.75);
}

div.slideshow-runtime-information {
  height: 4.5em;
  width: 96%;
  margin: 10px auto;
  padding: 6px;
}

.slideshow-draggable-items {
  vertical-align: top;
  min-height: 250px;
  width: 100%;
  border: thin solid #eee;
  overflow: auto;
}

.slideshow-draggable-items div {
  float: left;
  margin: 6px;
  width: 180px;
  height: 85px; /* Fixed height so float works nicely */
}

img.slotview {
  display: none;
}

/**
*
* text slide section
*
**/
input.slideshow-text-slide-heading {
  font-size: 1.2em;
  /* width: 100%; */
}
textarea.slideshow-text-slide-content {
  /* width: 100%; */
  height: 100px;
}

.slideshow-page-selector {
  width: 100%;
}

#slideshow_page_selector_chosen li.post,
#slideshow_page_selector_chosen option.post {
  color: blue;
}
#slideshow_page_selector_chosen li.page,
#slideshow_page_selector_chosen option.page {
  color: green;
}

/**
*
* Slideshow Layout graphics
*
**/

.slideshow-control {
  width: 33%;
  float: left;
}

.slideshow-control label.input-label {
  font-weight: bold;
}

.slideshow-control-annotation,
.slideshow-control-img {
  padding-left: 23px;
}

.slideshow-control-annotation {
  color: #999;
  width: 65%;
}
